[2015-10-26 02:05] millent opened #1 "Reviewer groups drop down only shows up in Edit mode on Atlassian Stash v3.1.0"
Hi

Great plugin! Just wanted to report an issue that I had when I tried to use the plugin - the drop down does not show up in the Create Pull request page with Atlassian Stash v3.1.0. Perhaps the control id-s have changed ... It does work in Edit Pull request.

Best regards

Millen

[2015-10-26 02:29] dragouf commented on #1
I made lots of changes since last commit here. I will publish the updated code soon here. Current code I use works with 3.1.0.

[2015-10-26 03:33] dragouf commented on #1
Ok I just committed last source code.
Note that it will also add many other features (which you can disable easily in source code). And you will also need to edit all the &lt;your_stash_domain_here&gt; occurrence in code to enable all features.
In chrome plugin it's in manifest.json and in firefox plugin edit xpi with zip editor and edit main.js

Please give me feedback to tell me if it works sinc

[2015-10-26 03:51] millent commented on #1
Hey dragouf

just tried it out. Replaced stash domain in 2 occurences in manifest.json
but it didn't work at all.

On Mon, 26 Oct 2015 at 14:34 dragouf <notifications@github.com> wrote:

[2015-10-26 04:38] dragouf commented on #1
What you mean by nothing is working ? Note that you also must define reviewers groups by clicking on extension icon on the right of the url bar or the extension won't be executed.

Without more information I can't guess what it is. Please open chrome console of stash website and also the one for background.js which you can open from chrome extension page and report me any error it display here.

[2015-10-26 04:58] millent commented on #1
I am getting the below error in the stash page console. Nothing in
background page

batch.js?locale=en-US:1786 Uncaught Error: No stash/api/util/state

   1. A@batch.js?locale=en-US:1786require@batch.js?locale=en-US:1788(anonymous
      function)@stash_page_injector.js:1452(anonymous function)@
      stash_page_injector.js:1526

On Mon, 26 Oct 2015 at 15:38 dragouf <notifications@github.com> wrote

[2015-10-26 05:03] dragouf commented on #1
ok, another question, on which page do you get this error ? All stash pages or a specific one ?

[2015-10-26 05:11] millent commented on #1
seems to happen on all page e.g. branches, source, commits ... the error
ocurrs when the page loads for the first time (full load). Also only
happens when the extesion is enabled.

On Mon, 26 Oct 2015 at 16:03 dragouf <notifications@github.com> wrote:

[2015-10-26 05:13] dragouf commented on #1
can you execute this command in the chrome console and tell me if it load a library ?

WRM.require("wr!" + 'com.atlassian.stash.stash-web-api:state')

If it works I can commit a fix quickly.

[2015-10-26 05:50] millent commented on #1
looks like it does
-------------------------------------------
WRM.require("wr!" + 'com.atlassian.stash.stash-web-api:state')
Object {}always: ()done: ()fail: ()pipe: ()progress: ()promise: (a)state:
()then: ()__proto__: Object

On Mon, 26 Oct 2015 at 16:13 dragouf <notifications@github.com> wrote:

[2015-10-26 05:52] dragouf commented on #1
not sure, it should display a message like: resources downloaded. Here the output you copy is just the promise object. Anyway, I made a commit, can you try it to see if it fix the problem ?

[2015-10-26 05:53] millent commented on #1
no time today ... tomorrow can check it

On Mon, 26 Oct 2015 at 16:52 dragouf <notifications@github.com> wrote:

[2015-10-27 14:37] david-resnick commented on #1
@dragouf I've tested the latest code in my environment and everything I've seen works great.

Awesome plugin!

[2015-10-28 00:00] dragouf commented on #1
Thanks for your feedback @david-resnick. If you implement any new functionality don't hesitate to send pull request.

[2015-12-10 14:39] vlodko opened #2 "I have stash server located on port that differs from 80."
It doesn't work for me.

[2015-12-11 06:54] dragouf commented on #2
I used demo server to test it which has a different port than the default one and it was working.

Did you follow all instructions of the readme file Installation section ? Especially the second point. You have to change domain name value to let it works.

[2015-12-16 05:01] #2 closed

[2016-02-15 09:32] damianpi opened #3 "Dropdown button doesn't appear"
Hello,
At first, I just want to say that this plugin is really great. However, I have one problem with it. Whereas I was able to install the plugin (both on Firefox and Chrome), there is no button on the pull request page. The tool appears in the browser, so I am able to define and save groups, but the button to choose the group on the reviewers (pull request) page does not.
I am using Stash v.4.2

[2016-02-15 13:40] dragouf commented on #3
Hi Damian,

Yes it seems they renamed everything in bitbucket server. I will create a new branch for that soon.

[2016-02-15 15:07] dragouf commented on #3
It's fixed. You can find the working version onto 'bitbucket-server-version' here:

https://github.com/dragouf/Stash-Reviewers-Chrome-Extension/tree/bitbucket-server-version

[2016-02-17 09:00] damianpi commented on #3
Thank you for your help!
It works great on Chrome, but not on Firefox. There, the dropdown button (near the Reviewers field) does not appear at all.

[2016-02-18 01:24] dragouf commented on #3
Ah yes I made a big mistake. I used chrome api in ff extension. It should work now.

Also make sure that `xpinstall.signatures.required` in `about:config` is set to false to allow unsigned extension to be executed.

Please tell me if it works!

[2016-02-18 10:21] damianpi commented on #3
Everything works great now, thank you!
If I could only suggest one more small thing - the distribution can be renamed from "stash-reviewers..." to "bitbucket-reviewers..."

[2016-02-18 11:45] dragouf commented on #3
Yes it would be better for understanding. Thanks for your suggestion.

[2016-02-19 13:25] #3 closed

[2016-02-23 03:38] dvoiss opened #4 "Update the extension on the Chrome store"
The extension on the store was last updated on `October 28, 2015` which means it doesn't have the fix for the issue mentioned in [this ticket](https://github.com/dragouf/Stash-Reviewers-Chrome-Extension/issues/1) and this [closed ticket](https://github.com/dragouf/Stash-Reviewers-Chrome-Extension/issues/3).

That issue occurs for me when I use the plugin on the Chrome store but does not occur when

[2016-02-23 14:12] dragouf commented on #4
yes, the plugin on chrome store is still named stash and is still for stash. I haven't published the bitbucket version.
For the moment new features need manual change to the manifest.json file to works, that's why I can't update the chrome store version.

[2016-02-29 10:14] #1 closed

[2016-03-03 23:26] dvlmemnoch opened #5 "Button doesn't appear"
Hi,
I'd love to try and use this plugin but am having trouble getting the group button to appear. I've read some of the other issues and still am unable to get the plugin to work. I see this error on every stash page I visit:
batch.js?locale=en-US:2 Uncaught Error: stash-plugin/header-notification missing aui/flag

Here's what I have:
- Atlassian Stash v3.6.1
- Chrome Version 49.0.2623.75 m
- Stas

[2016-03-04 01:30] dragouf commented on #5
Hi,

Sorry I don't have this stash version to test. Please try to run this in chrome console:

`WRM.require("wr!" + 'com.atlassian.auiplugin:aui-flag')`

and then try to enter this to see if it works:

`require('aui/flag')`

if it works try to add at line 1458 of stash_page_injector.js:

[code]

and change line 1470 to:

`jQuery.when(loadRequirement, loadAuiFlag).done(function(){`

And please tell

[2016-03-04 16:10] dvlmemnoch commented on #5
Thanks for the respose @dragouf .

I tried modifying the stash_age_injector.js with the changes you suggested and it's still not working.

I entered the commands in the console and here's the output I received:
`WRM.require("wr!" + 'com.atlassian.auiplugin:aui-flag')
Downloading resources:
js!/s/d41d8cd98f00b204e9800998ecf8427e-CDN/en_US/cff2a57/1/5.7.19/_/download/batch/com.atlassian.auiplugin:au

[2016-03-05 00:22] dragouf commented on #5
@dvlmemnoch which I don't understand is that it seems WRM.require download correctly all needed file to use aui/flag. It mean it should works.

Can you try to fork my repo and commit changes you made to stash_age_injector.js. Like that I can check if you changed the file as required.

[2016-03-31 08:16] shokmaster commented on #5
@dragouf @dvlmemnoch the correct code is:

[code]

I've opened a PR to fix it: #6

[2016-04-04 14:35] dvlmemnoch commented on #5
Thank you @shokmaster that fixed it! The plugin is looking good so far, thanks @dragouf!

[2016-04-04 14:35] #5 closed

[2016-04-07 01:05] incaronbus opened #7 "Dropdown is duplicated when you cancel a pull request and create a new one"
I'm on Stash 3.7. Picture attached.

![screen shot 2016-04-06 at 6 02 40 pm](https://cloud.githubusercontent.com/assets/2607918/14337368/0fb09f4a-fc22-11e5-93a9-4b1a6ccddd91.png)

[2016-04-27 10:51] willsheppard opened #9 "Extension doesn't work with Stash v2.12.2"
First, I tried the extension from the Chrome store, it didn't work for our private instance of Stash.

Then I tried the developer version, I replaced <your_stash_domain_here> with the domain + port for our local Stash instance, e.g. `stash.example.com:8081`, this resulted in the following section of code in manifest.json:

      "matches": [
        "http://*/*/pull-requests?create*",
        "htt

[2016-04-27 12:20] willsheppard commented on #9
Okay I've got past that error by changing this:

    "*://stash.example.com:8081/*"

to this:

    "https://stash.example.com:8081/*"

(i.e. adding "https" in place of the first asterisk).

Then I closed and re-opened Chrome, I defined the "groups" json with some groups and usernames again, and I reloaded the Stash page, and selected a branch. The title and description were automatically populated

[2016-04-27 12:26] willsheppard commented on #9
Our version of Stash isn't branded as BitBucket, could that mean it's an old, incompatible version?

If you give me a clue which parts of code I'd need to change for Stash v2.12.2, I could have a go at fixing it.

[2016-04-27 13:10] dragouf commented on #9
Hi @willsheppard,

There is a branch "stash-server-version" which is compatible with stash.
But your version is very old. It was working with stash v3.10 and upper. but I can't tell if it works with v2.

If it doesn't work try to copy here what you get in chrome console. Maybe I can help with that.

[2016-04-27 15:35] willsheppard commented on #9
I think this is what you're looking for - from the stash-server-version branch:

    batch.js:1696 Uncaught Error: No stash/api/util/state

I should mention our Stash instance is likely to be locked down pretty securely.

[2016-04-28 01:06] dragouf commented on #9
@willsheppard, ah I see.
So it use this stash javascript API: https://developer.atlassian.com/stash/docs/3.6.1/reference/javascript/state_.html
but it seems there is no such api in stash 2.12.

According to this doc: https://developer.atlassian.com/stash/docs/3.6.1/reference/js-api.html

this api is available from v3.

So I think this extension can't be adapt to v2.

[2016-04-28 12:31] kplates opened #10 "Removing filter"
Is there an easier way to prevent the filter from being injected without modifying stash_page_injector.js?

[2016-04-28 14:21] willsheppard commented on #9
Ok fair enough

[2016-04-28 14:21] #9 closed

[2016-05-19 18:38] etzlers opened #11 "Drop down missing"
The drop down to select the group you want on a pull request does not appear when you create a pull request by clicking on a branch in the Branches view and clicking create pull request from there.

[2016-05-22 15:33] dragouf commented on #10
Sorry for the late reply. I will add a new version to add this functionality to the option dialog soon.

[2016-05-25 22:30] bkbeachlabs commented on #11
Same issue for me

[2016-05-26 08:23] dragouf commented on #11
which version of stash you have ?

[2016-05-26 12:45] etzlers commented on #11
We are currently using 4.3.0 (now renamed BitBucket) and should be moving to 4.5.2 in the next few weeks.

[2016-05-26 14:44] bkbeachlabs commented on #11
We've got Stash v3.1.3

[2016-05-28 01:05] dragouf commented on #11
I can't reproduce. Can you confirm that json group definition you added in options panel is well formed ?

And also, please check there is no error in chrome console. If you find any, can you paste it here ?

[2016-05-28 01:07] dragouf commented on #7
Are you using the last version from this repository ? Or the one on chrome store ?

[2016-05-28 02:40] dragouf commented on #10
you can now enable/disable features in extensions option panel with version 2.2.0 (bitbucket server version)

[2016-05-28 02:40] #10 closed

[2016-05-28 12:03] dragouf commented on #4
done!

there is now 2 versions on chrome webstore.

for bitbucket server: https://chrome.google.com/webstore/detail/bitbucket-server-extensio/hlagecmhpppmpfdifmigdglnhcpnohib

and for stash server (v3) : https://chrome.google.com/webstore/detail/stash-reviewers/kpgdinlfgnkbfkmffilkgmeahphehegk

[2016-05-28 12:03] #4 closed

[2016-05-28 15:20] etzlers commented on #11
Excellent!! That seems to have resolved my issues!! Thank you!!!

For anyone looking to use the new Bitbucket Server plugin note that you must configure the group (amongst other new settings) in the settings for the extension now as opposed to a dropdown menu from the plugin. :)

[2016-05-28 15:34] bkbeachlabs commented on #11
I'm seeing these errors in the console:

batch.js?locale=en-US:1786 Uncaught Error: suggested-reviewers missing eve
batch.js?locale=en-US:2324 Downloading resources:
js!/s/71095c56c641f2c4a4f189b9dfcd7a38-T/en_US/faa46f8/1/0.0/_/download/batch/com.atlassian.stash.stash-web-api:state/com.atlassian.stash.stash-web-api:state.js?locale=en-US!order
batch.js?locale=en-US:1786 Uncaught Error: stash-plugi

[2016-05-28 15:35] etzlers commented on #11
Note about the new version, it appears the description for "Check new Version" under feature is identical to "PR Template" not sure that's correct? :)

[2016-05-28 17:11] david-resnick commented on #4
Is it now possible to use the extension without setting the stash domain in `manifest.json` and `main.js`?

[2016-05-29 00:31] dragouf commented on #11
@etzlers oh nice catch! ok, I'll fix it in next minor release.

@bkbeachlabs I wait for your feedback after you test the new version before to close this ticket.

[2016-05-29 00:37] dragouf commented on #4
yes it is. Anyway the extension now check on every page if it's a stash/bitbucket page. To do that I did a small script to check global variable to avoid to inject the main script each time.

But it was one of my concern. Do I have to ask the user to fill all there stash url or check by myself ?

But maybe some user will be annoyed to see this script inject on each page load and maybe I should wri

[2016-05-29 02:18] bkbeachlabs commented on #11
Unfortunately I'm still seeing the same error

[2016-05-29 06:43] dragouf commented on #11
@bkbeachlabs can you give me more information. Which version of the extension are you using now ?

[2016-05-29 09:55] david-resnick commented on #4
I work against exactly one Stash (soon to be Bitbucket) server and would rather configure the URL than have every page checked.

[2016-05-29 23:39] bkbeachlabs commented on #11
1.6.2. Is there anything else I can do to help with debugging this?

[2016-05-30 01:59] #7 closed

[2016-05-30 02:01] dragouf commented on #4
Ok, I will try to allow user to specify there url when I have time.

[2016-05-30 05:57] dragouf commented on #11
Try 1.6.4 and give me feedback, it should be fixed.

[2016-05-30 14:42] bkbeachlabs commented on #11
Ok this seems to be making progress. I got a popup asking me to allow the domain to send me notifications and I can see the menu option to show recent PR messages, but I still don't the Groups button.

When I installed the extension package I noticed an error is displayed in the chrome extensions configuration menu:

`There were warnings when trying to install this extension:
Unrecognized manifest

[2016-05-30 14:43] bkbeachlabs commented on #11
Actually it looks like the recent messages pane never populates too

[2016-05-31 03:33] dragouf commented on #11
Did you set the json group definition in extension option panel ?

Do you have anything in the console ?

Without any information it's hard to solve

[2016-05-31 18:49] bkbeachlabs commented on #11
Here's what I see in the Console now:

[code]

As I mentioned before I also see this:

![screen shot 2016-05-31 at 2 48 39 pm](https://cloud.githubusercontent.com/assets/4221514/15686531/cdfd6900-273e-11e6-8845-673976ab87d3.png)

My groups JSON is also valid.

Thanks for continuing to investigate!

[2016-06-01 02:41] dragouf commented on #11
Like I said, the error in your screen shot is normal.

Can you try to load extension from branch `bugfix_11` to see if it fix your problem ?

[2016-06-02 19:38] bkbeachlabs commented on #11
thanks for clarifying the error message (again) :D

I tried bugfix_11 and it appears to fix some of the errors, but still can't see the user groups.

[code]

I did some investigating in the Console, and the last error is happening because `pr.fromRef()` returns undefined in the `addCheckoutLink()` function on `stash_page.js`.

So when we go to do this check, we return:

[code]

[2016-06-07 14:15] etzlers opened #18 "Chrome Browser Crashing when Plugin Enabled"
When I have the plugin enabled for Chrome the browser will regularly crash on me and I will have to re-open it and my tabs. Do you have any advice or ideas on how I can resolve this issue? When I disable the plugin the browser no longer crashes and seems to work fine. (I have other co-workers who have seen this same issue)

[2016-06-07 14:24] dragouf commented on #18
Which version of the plugin are you using ?

It may because of the server poll to check for new notifications.
Anyway it never happened to me and I use everyday this plugin.
Hard to guess without debug information.

I will try to add new option to disable server poll as soon as I have time to see if it's related to that.

[2016-06-07 14:27] etzlers commented on #18
I am using 2.2.7. I will disable desktop notifications to see if that changes anything?

[2016-06-07 15:26] bkbeachlabs commented on #11
Any further updates on this @dragouf?

[2016-06-07 17:04] etzlers commented on #18
The browser crashed about an hour and a half after disabling the desktop notifications. Is there anything I could provide you that would help?

[2016-06-08 23:44] dragouf commented on #11
Sorry, I had no time to work on it last past days. The problem is that I can't reproduce it and it's hard to solve. I don't know exactly why all of those data or missing in your case. Anyway if you have time to debug by yourself don't hesitate to send a pull request. I will see what I can do as soon as I have time.

[2016-06-08 23:49] dragouf commented on #18
Desktop notification doesn't disable background polling to check for new notification.

I pushed a new version (2.2.8) to development branch. I added in this version a new button in options panel to disable background polling. Can you try to use this version and disable background polling in options and then tell me if it works ?

[2016-06-09 12:32] etzlers commented on #18
Of course! I'll update now and let you know how it goes!

[2016-06-09 13:34] etzlers commented on #18
Is this warning ok?

There were warnings when trying to install this extension:
Unrecognized manifest key 'applications'.

[2016-06-09 21:01] dragouf commented on #18
Yes there is no problem with that. This key is used by Firefox webextensions but chrome don't reconized it. Anyway there is no impact, chrome just ignore it.

[2016-06-20 06:39] benys opened #21 "Build status not visible"
Hi,

I have configured teamcity to push build status. Normal stash view shows column with this status (green or red sticker).

[2016-06-21 06:54] dragouf commented on #21
true, I will add this information.

[2016-06-22 15:20] etzlers commented on #18
Change appears to be working fine, haven't seen browser crashing issues since updating.

[2016-06-22 15:20] #18 closed

[2016-06-27 06:47] dragouf commented on #21
@benys it is now available on `development` branch.
Can you try it and tell me if it works ?

[2016-07-06 21:42] aliebling opened #23 "Reviewer groups drop down only shows up in Edit mode on Atlassian Stash v2.8.3"
`batch.js:18297 Uncaught Error: Module 'stash/api/util/state' has not yet been defined.`

This is using extension version 1.6.6

Running:

`WRM.require("wr!" + 'com.atlassian.stash.stash-web-api:state')`

simple celivers back the promise object.

[2016-07-22 08:52] benys commented on #21
@dragouf it works partly - i found a small bug.
My stash/bitbacket has address https://XXX.XXX.XXX/stash/ not https://XXX.XXX.XXX/

So ajax:
`
function getPRBuildStatus(commitList) {
			var commitIds = commitList.map(function(pr) { return pr.commit });
			return jQuery.ajax('/rest/build-status/latest/commits/stats', {
				method: 'POST',
				headers: {
`
not work because it create request to: http

[2016-08-17 09:12] dhilipb opened #24 "Centralised reviewers list"
Love the extension.

Our team keeps changing and we'd like to have a centralised location to store the stash reviewers. Would love this feature in this extension.

[2016-08-19 04:23] dragouf commented on #21
Hi @benys,

I will add a parameter to set the correct bitbucket server base url. Sorry I had no time to work on it. I may have more time soon and close this ticket.

[2016-08-19 04:26] dragouf commented on #24
Hi @dhilipb,

It's lots of work and I don't have time to implement this feature.
However if you want to work on this feature and send a PR for that you are welcome.

[2016-08-30 06:18] benys commented on #21
Hi,

No problem, i use modified version by me :-)

[2016-09-01 10:11] stefanseeger opened #26 "Add review group does not work because of wrong server request"
When selecting a group the json request is sent to a wrong location.
`https://server.net/rest/api/latest/users?...` is sent
Correct would be:
`https://server.net/git/rest/api/latest/users?...`

As workaround, is there a way to customize the location?

[2016-09-15 20:09] sturose opened #27 "Can't install on firefox"
Firefox will no longer allow unsigned extensions to be installed and https://addons.mozilla.org/en-US/firefox/addon/bitbucket-server-extension/ does not lead to a verified version to install.

[2016-09-20 14:25] maaltan opened #28 "Plugin creates multiple persistent tcp connections to stash server."
The plugin is creating 6 persistent tcp connections to the stash/bitbucket server.  These connections are created even if all the plugin features are disabled (ie, only using the reviewer groups)

Several people in our organization are using this plugin and is causing noticeable stress on the server.  Is there anyway to disable this behavior?  The only thing i see that would really need a persiste

[2016-10-05 16:26] aevanson opened #29 "Pull request filters aren't working"
When I'm viewing pull requests, the Open/Merged/Declined dropdown works fine, but adding users to the Authors/Reviewers/etc. filters doesn't have any effect. The search/add user functionality is fine but the filter doesn't seem to do anything.

My expectation is that adding a single user to the Authors Filter would show pull requests only from that author. The actual result is the exact same list

[2016-10-18 09:10] carera commented on #24
+1!

[2016-10-22 11:50] dragouf commented on #29
Your expectation is correct. It's how it works. Can you tell me the version of the plugin you are using (and also if it's the chrome webstore one or the github one) and the version of your bitbucket application to help.

[2016-10-22 11:55] dragouf commented on #28
I will check that. For that purpose, I created a background job to centralized requests and to avoid to get 1 request/tab, for this reason it's surprising. I will also check why TCP connection are not disabled if you disable notifications.
Sorry for the late reply but I changed my work and I'm very busy. Maybe I'll see that in some weeks.

[2016-10-22 11:56] dragouf commented on #27
yes I know, it ever pass the validation because of jquery library I use for option panel and I finally gave up to pass it. As soon as I have time I will try to fix that.

[2016-11-08 02:24] aevanson commented on #29
Sorry for the late reply. I'm using the Chome webstore version. Looks like the version of bitbucket is Atlassian Stash v3.7.0? Let me know if you need more info.

[2016-11-24 07:07] guyisra opened #31 "Extension doesn't work V 2.2.10"
Starting on extension version 2.2.10 it no longer works in bitbucket 4.11.1

It worked fine on 2.2.8

[2016-11-24 09:40] dragouf commented on #31
I merged a PR which made this error. I'll fix this soon.

[2016-11-24 09:58] dragouf commented on #31
should be fixed with v2.2.11

[2016-11-24 09:58] #31 closed

[2016-11-24 14:21] cjauvin commented on #31
Thank you, it works! :+1:

[2016-12-12 19:20] MichaelArnoldOwens opened #33 "Add reviewers button is broken"
See image
![screen shot 2016-12-12 at 11 06 03 am](https://cloud.githubusercontent.com/assets/9525360/21113036/eca50716-c05c-11e6-9398-c54013af8c65.png)

[2016-12-21 20:01] eaustin opened #34 "Extension Crashes Frequently"
Browser: Chrome 55.0.2883.95

Frequently, the extension crashes with the only notice being either the icon disappears completes and it has to be reloaded using in the Settings or I'm giving a Notification which allows be to click and reload the plugin.

Are there any logs to examine to see what the possible cause may be?

Thanks!

[2017-02-04 00:03] joeo73 opened #35 "HTTPS seems to break plugin"
Everything worked fine up until a month ago when our stash repo went HTTPS

[2017-02-04 00:07] joeo73 commented on #35
In the console log:

user-activity-xhr-header.js?_statichash=887d4d8…-T%2F-1412522454%2Fc721a6c%…:1 GET https://stash.impinj.com/rest/api/latest/users?avatarSize=32&permission=LICENSED_USER&start=0&filter=dburton%40impinj.com 404 (Not Found)

[2017-02-04 00:07] joeo73 commented on #35
GET https://stash.impinj.com/rest/api/latest/users?avatarSize=32&permission=LICENSED_USER&start=0&filter=dburton%40impinj.com 404 (Not Found)

[2017-02-16 13:48] id0Sch opened #37 "Badge stuck at 14 for the past month"
![image](https://cloud.githubusercontent.com/assets/5864772/23023534/c7983b42-f45e-11e6-83dc-0e3a042e42c5.png)
i currently only have 7 items waiting but i keep seeing 14

[2017-03-15 16:53] srinath-ragh opened #38 "Feature Request - Pull JSON from remote URL"
This would be super useful since we could have 1 place to maintain the PR reviewers JSON and expose it as a web service and helps when the team/reviewers list constantly change.

[2017-03-17 00:29] artie-lee opened #39 "Ability to add a local code reviewer JSON file"
I would like to be able to reference a local JSON file that contains groups of reviewers in the URL to json field in Reviewer Groups via a file URI. For example, file:///folder/reviewers.json.
This would also help resolve, though not entirely, issue #24 because that file could be put into a shared repo.

[2017-03-17 00:49] artie-lee commented on #39
Just to be clear, if this is what the "Allow access to file URLs" checkbox in Chrome is for, it does not work for me. The result is "Error: TypeError: Failed to fetch"

[2017-04-19 18:55] SSchuetrumpf commented on #38
This is already a feature.

Screenshot: http://i.imgur.com/rznG4GB.png

[2017-04-19 18:59] SSchuetrumpf commented on #39
As a workaround, you could use the raw url to the file in source control. I.e http://git.mycompany.com/projects/PROJ/repo/path/to/file.json, or whatever the url is. As an added bonus, you wouldn't have to `git pull` / `git fetch` the branch if someone made changes to the file.

[2017-04-21 21:02] artie-lee commented on #39
That's a good suggestion. Unfortunately, I tried it and got this error - "Error: SyntaxError: Unexpected token < in JSON at position 0". Any thoughts on why that might happen? Perhaps because of the company firewall?

I added a screenshot too.
<img width="643" alt="extension_via_git" src="https://cloud.githubusercontent.com/assets/23665454/25295996/ec31fc4a-269a-11e7-8856-ad8769ef8fc8.png">

[2017-04-21 21:14] SSchuetrumpf commented on #39
The link you have it looks like a regular bitbucket file browser link, so
it's likely giving you html, not the raw file. Go to that link, click the
raw button and use that link. The firewall won't be an issue as long as
your computer is networked, since it's just an ajax call.

On Fri, Apr 21, 2017, 4:02 PM rtrr <notifications@github.com> wrote:

[2017-04-21 21:47] artie-lee commented on #39
Good catch. But using the raw link I get the same error.
Link path: https://[MyGitPathHere]/raw/reviewer_groups.json?at=refs%2Fheads%2Fmaster

I also tried at a specific commit in case it didn't like the path formatters:
https://[MyGitPathHere]/raw/reviewer_groups.json?at=ebdcf33a7095571dc4b0126f0f004fa3649a35a7

It feels like I'm missing something obvious, but it's Friday and multi-tasking is not

[2017-06-01 15:51] #38 closed

[2017-08-17 08:22] PavelVanecek commented on #27
@dragouf I would like to work on this. Is jQuery the only issue? If there are some more reviewer comments can you please share it?

[2017-08-20 14:34] dragouf commented on #27
@PavelVanecek yes it was just about jquery if I remember well. I see your PR. Thanks! If you want you can also commit it on firefox store. I'm happy to know this project is usefull for people and to see that it still can be improve by developers.

[2017-08-20 14:56] #37 closed

[2017-08-30 09:42] #27 closed

[2017-10-21 08:10] ra100 commented on #34
Is this issue still valid? Can we get some more information?

[2017-10-21 08:12] ra100 commented on #39
Maybe the problem is, that extension (background task) doesn't have access to your repository, as fetching is done without credentials.

[2017-10-21 08:16] ra100 commented on #24
I think this can be closed :)

[2017-10-21 11:01] briangweber commented on #34
I've stopped using Stash, so I no longer use this extension.

On Sat, Oct 21, 2017, 4:10 AM Rastislav Švarba <notifications@github.com>
wrote:

[2017-10-21 11:50] #24 closed

[2017-11-15 16:06] jgornick opened #43 "Add reviewers dropdown for PR comments in toolbar"
There are times when I'd like to mention a group of reviewers in a comment for a PR. It would be nice if the dropdown appeared in the comment markup toolbar. When a reviewer group is clicked, it would add the names of the users where the cursor is in the textarea of the comment.

[2017-12-22 21:25] kengorab commented on #27
Was this ever published on the firefox addons store? Stash Extension is honestly one of the things keeping me from switching from Chrome to Firefox at this point. I didn't see anything when searching "Stash Extension"; is it maybe called something else?

[2017-12-25 17:48] PavelVanecek commented on #27
@kengorab weird. I have published it in the Firefox addon store, but I can no longer access it. The URL is https://addons.mozilla.org/en-US/firefox/addon/bitbucket-server-reviewers/ but it shows 404. The addon even shows up in [search results](https://addons.mozilla.org/en-US/firefox/search/?q=bitbucket) but again the link leads nowhere. I'll try to fix it.

[2017-12-25 18:01] PavelVanecek commented on #27
I found out there was a naming conflict, details in https://github.com/mozilla/addons-frontend/issues/4071 and https://github.com/mozilla/addons-server/issues/7132

I have republished the extension as https://addons.mozilla.org/en-US/firefox/addon/bitbucket-server/. I will update the README

[2018-01-18 21:09] ammmze opened #44 "Inbox Dialog Doesn't Load"
So a few weeks ago the inbox stopped working when I have this plugin enabled. I haven't been able to track down the exact cause yet though. But when I click the inbox it just opens with blank content (regardless of whether I have PR's open). It looks like this...

![Alt text](https://monosnap.com/file/0kq3kTKm8yhA53z2qrTsdCsm6tTW3b.png)

Also have an error in the JS console...

[code]

But everyth

[2018-01-18 21:15] ammmze commented on #44
It looks like that Inbox uses react (and maybe the only thing on the page using react). Perhaps they recently switched that to react?

[2018-01-18 21:23] ammmze commented on #44
I just found if I disable the following, the inbox will start working again...

* Check new version
* Background Check
* Desktop Notifications

[2018-02-16 23:00] ammmze commented on #44
This appears to be working again. We must have updated one of our plugins because it doesn't look like this extension has been updated.

[2018-02-16 23:00] #44 closed

[2018-03-22 08:23] aleksandarsavev opened #45 ""My Pull-Requests" drop down is empty"
The drop down with **My Pull-Requests** (you can open it by typing `g` and `i`) is empty on all pages.

The exception I found is `http://{url-of-repository}/pull-requests`. On this page the drop-down is populated correctly.

[2018-03-27 14:55] ra100 commented on #45
Note: seems like only works on "Reports" page.

[2018-03-28 07:26] ra100 commented on #45
Right now it looks like, problem is in loading Bitbucket lib `WRM.require("wr!" + 'com.atlassian.bitbucket.server.bitbucket-web:pull-request-table')` which is used to add build status to PR dropdown. after disabling, it will work.

[2018-03-28 10:39] savevjr commented on #45
@ra100 , how this can be disabled?

[2018-03-28 11:55] ra100 commented on #45
I've committed fix, now it needs to be merged and new release created. Or you can clone and load repository from local location.

[2018-04-05 07:09] thekyz opened #47 "template url not working in firefox"
The box does not show up at all; I tried fixing it by addings divs around the <div class="form-group"> in popup.html. It does show up then but when I create a pull-request I still don't see the template loading.
[code]

[2018-04-10 11:16] PavelVanecek commented on #45
It works fine on my machine tho

[2018-05-08 02:48] rainecheck opened #48 "Support for multiple templates"
My use case has different templates for different projects. Having the ability to store and use multiple templates would be a valuable addition.

[2018-05-10 08:31] shark300 opened #49 "Add reviewers button is missing"
The add reviewers button is missing on Stash's create pull request page.

There is an error message on the console:
[code]

Browser version:
Google Chrome: 66.0.3359.139 (64 bit)

Plugin version:
Bitbucket Server Extension 2.2.12

[2018-05-10 22:31] jerimiller commented on #26
I'm running into this as well - any way around this, or plan to update?

[2018-05-11 06:30] ra100 commented on #26
What version of extension and bitbucket do you have?

[2018-05-11 15:44] jerimiller commented on #26
Hi!

I’ve got extension version 2.2.12, I think it’s bitbucket v5.3.1

Thanks-
Jeri

From: Rastislav Švarba [mailto:notifications@github.com]
Sent: Friday, May 11, 2018 12:31 AM
To: dragouf/Stash-Reviewers-Chrome-Extension <Stash-Reviewers-Chrome-Extension@noreply.github.com>
Cc: Jeri Miller <Jeri.Miller@jeppesen.com>; Comment <comment@noreply.github.com>
Subject: Re: [dragouf/Stash-Reviewers-Chro

[2018-05-24 19:43] MichaelTaylor3D opened #52 "Extension causes bitbucket inbox to be blank"
See image, after installing the extension the bitbucket inbox goes blank

![image](https://user-images.githubusercontent.com/5665004/40509929-09779dac-5f69-11e8-97eb-de6336f0905d.png)

[2018-05-24 22:27] ra100 commented on #52
I think it's the same issue as this PR fixes https://github.com/dragouf/Stash-Reviewers-Chrome-Extension/pull/46

[2018-07-03 10:22] savevjr commented on #45
Hi, again. Do you have an idea for workaround? Thanks in advance.

[2018-07-03 12:49] mrvincenzo opened #53 "Pull Requests list is empty (not "My Pull Requests")"
Pull Request list is empty after the last upgrade to our BitBucket Server.

<img width="1626" alt="screen shot 2018-07-03 at 15 38 35" src="https://user-images.githubusercontent.com/5012608/42220755-9b23a050-7ed8-11e8-96ae-3d39f72bbba2.png">
<img width="1629" alt="screen shot 2018-07-03 at 15 39 12" src="https://user-images.githubusercontent.com/5012608/42220493-c877bb8c-7ed7-11e8-90d8-5e186b466c5

[2018-07-03 16:25] ra100 commented on #45
@savevjr can you checkout my repo and branch with fix?
https://github.com/ra100/Stash-Reviewers-Chrome-Extension.git
`45-empty-pullrequests-dropdow`
and load extension from local folder

[2018-07-03 16:26] ra100 commented on #53
Can you try if it's happening when you load extension from local folder, from this repo and branch?
`https://github.com/ra100/Stash-Reviewers-Chrome-Extension.git`
`45-empty-pullrequests-dropdow`

[2018-07-03 17:22] mrvincenzo commented on #53
@ra100 Actually, the error occurs with your PR #46. I thought that issue #45 is the issue I described here and it was fixed, so I  pulled the PR and checked (loaded it to Chrome). Unfortunately, the issue does reproduce.

[2018-07-03 17:30] ra100 commented on #53
so good thing is, that fix for #45 didn't introduce this bug, now "just" to find out how to fix this

[2018-07-06 05:37] dragouf commented on #53
Ok PR has been merged and code publish to chrome store.

[2018-07-06 05:37] #53 closed

[2018-07-06 05:37] dragouf commented on #52
merged and published.

[2018-07-06 05:37] #52 closed

[2018-07-06 05:38] dragouf commented on #49
#50 merged and published to chrome store

[2018-07-06 05:38] #49 closed

[2018-07-06 08:56] davidbaena opened #54 "CheckForUpdate is failing, Cant reach github message ir showed"
Hello!
When I updated the plugin to 2.2.14 version(Mac 10.13.2) I got the following dialog:

[code]

It seems like chrome can't reach github in order to check the last version of the plugin.
This request returns a `undefined` response in data:

[code]

But the endpoint works fine if i get this URL from chrome. It responses 2.2.14 version

How can solve it? I don't know how to add the bitbucket ser

[2018-07-06 15:50] ggabdol commented on #54
I'm getting this message, too.

[2018-07-09 06:30] dragouf commented on #54
I think this check is useless. It was used when this extension was self hosted. I will remove it.

[2018-07-09 06:37] mrvincenzo commented on #53
@dragouf PR #46 didn't fix that. It fixed #45 but not this issue. This issue still reproduces.

[2018-07-09 17:03] karpach commented on #54
I'm getting this message, too.

[2018-07-11 17:57] cnnranderson commented on #54
I stopped getting this message, but now I'm getting a new one related to the PR list view. I'll make a new issue around it.

[2018-07-11 18:02] cnnranderson opened #55 "PR table isn't formatting properly"
When loading the Pull Requests page (where it lists out all the PRs that are open), it no longer succeeds at styling the table.

I receive the following error in the console:
`not able to load plugin PR filter table Error: No bitbucket/internal/feature/pull-request/table/pull-request-table`

This error is produced from a try/catch found on line 2117 in the `stash_page.js`.

Not really sure what's

[2018-07-11 18:03] ra100 commented on #55
What's the version of your Bitbucket?

[2018-07-11 18:05] cnnranderson commented on #55
v4.14.4

I think this version is actually kind of old, given it's an enterprise setup. Though, the plugin worked all up until about 2-3 weeks ago before the plugin version error issue came about (Issue #54)

[2018-07-11 18:07] ra100 commented on #55
That actually is very likely, that's the issue. As with latest update of extension, new bitbucket api is used (in PR list)

[2018-07-11 18:11] cnnranderson commented on #55
Ah... yeah, I see it now in the latest [commits](https://github.com/dragouf/Stash-Reviewers-Chrome-Extension/commit/8d05d812befd319b99dd2346ad46f48e494e9c4f).

Are there plans to keep the back support? I wonder if it's broken simply because `/table` was added in the `require()` call?

[2018-07-11 18:15] ra100 commented on #55
That might be it can you try to checkout repo, remove `table/` and load extension from folder? Then there could be try-catch block around that require, if it fails with "table" then try without

[2018-07-11 18:34] cnnranderson commented on #55
Yep, that was going to be my first check. Turns out it fixes it!

I could try to make a PR in a bit with a conditional require check to see if one or the other loads?

[2018-07-11 18:35] ra100 commented on #55
I won't be able to check it sooner that in 12hrs. So if you create PR by then, I can check.

[2018-07-11 19:11] cnnranderson commented on #55
#56 PR is up :) I'm a little weak with JS, but I can confirm this resolves the issue. It'd be nice if there's a way to check bitbucket version < 5.0 or something, but not immediately familiar with all the stuff going on in that script. Feel free to make any suggestions to improve the solution.

[2018-07-16 21:54] #55 closed

[2018-07-21 09:45] mrvincenzo opened #57 "Pull Requests list is empty"
Submitting a new issue as the original #53 was wrongly closed

<img width="1626" alt="42220755-9b23a050-7ed8-11e8-96ae-3d39f72bbba2" src="https://user-images.githubusercontent.com/5012608/43034360-cba02938-8ce3-11e8-988e-646673bd8e83.png">
<img width="1629" alt="42220493-c877bb8c-7ed7-11e8-90d8-5e186b466c53" src="https://user-images.githubusercontent.com/5012608/43034351-b29d6964-8ce3-11e8-94bb-a9

[2018-08-23 11:24] yam-liu opened #58 "select wrong user when has same-suffix name"
Suppose there are two user names "zhangsan03" and "bm_zhangsan03", this plugin will choose bm_zhangsan03 despite I write zhangsan03 in plugin config.

[2018-09-25 15:53] willsteinmetz opened #59 "Favorite/Star repos"
One of the things that bugs me about BitBucket server is that I have yet to figure out a way to star repos and keep them in a list like you can on GitHub and then see the list to navigate easier. I work for a very large company and my organization under it alone has a few hundred repos let alone the other organizations I have access to because of my role so it can be annoying to find them. I reali

[2018-10-01 16:12] ra100 commented on #59
I'm not sure if this is best match for this, but I don't see why it wouldn't be possible, to start some repos and have list of your favorites. Question is, where to show the list.

[2018-10-02 17:22] ra100 commented on #59
this might be candidate for #hacktoberfest label :) @dragouf?

[2018-10-25 18:54] datpham23 opened #60 "Pull requests page is broken"
With Bitbucket v5.13.0 the pull requests page quickly flash w/ the original content without the extension and then it become empty.

Currently using version 2.2.15

[2018-10-25 19:11] ra100 commented on #60
@datpham23 does it throw some error to console?

[2018-10-25 23:37] datpham23 commented on #60
This is the error i'm seeing.
[code]

[2018-10-26 04:37] mrvincenzo commented on #60
It is a duplicate of #57, #53

[2019-02-05 08:56] hagnat commented on #53
error reproduced and found on
Bitbucket v5.16.0
Bitbucket Server Extension 2.2.15

[2019-02-05 08:57] hagnat commented on #60
error reproduced and found on
Bitbucket v5.16.0
Bitbucket Server Extension 2.2.15

[2019-02-13 17:50] edwinramirez commented on #54
Version 2.2.15 and this issue still occurs.

[2019-03-24 21:33] jvdl opened #63 "Bitbucket internal JS modules are deprecated"
As of Bitbucket Server 6.0 our internal JavaScript modules have been deprecated in favour of using only public API JS modules. Please see our [community announcement about the release of Bitbucket Server 6.0](https://community.developer.atlassian.com/t/major-release-for-bitbucket-server-6-0-0-now-available/26945) (and note also [some discussion on one of the 6.0 EAP announcement posts](https://com

[2019-05-29 12:32] #60 closed

[2019-07-16 20:49] angrylogic opened #64 "Security Contact?"
Hi @dragouf,

Is there a good way to disclosure security issues with this extension without creating a public issue?  Thanks.

[2019-12-13 22:11] Rab815 opened #65 "Getting error trying to use this extension with bitbucket"
Uncaught Error: AMD module bitbucket-plugin/pullrequest-list-modifier must not depend on internal module(s) bitbucket/internal/feature/pull-request/pull-request-table.

The server extension drop list isn't even showing on the PR page.  I'm just getting a console error.

Doug

[2020-01-27 13:57] zzzep commented on #65
@dragouf , any solution for this issue?

[2020-01-27 14:14] Rab815 commented on #65
none!

On Mon, Jan 27, 2020 at 8:57 AM zzzep <notifications@github.com> wrote:

[2020-01-31 12:11] ruslanmogilevskiy opened #66 "Doesn`t work with BitBucket 6.*?"
I installed this Chrome extension but when creating a pull request any extension`s controls don`t show up on the bitbucket page. Also, I don`t see the extension`s controls on any BB`s page. I was needed a group of reviewers functionality
Is it work with BB 6.*?
Also, Am I right, that I don`t need to install this extension in any form on the BitBucket server itself, only install it in a client`s Ch

[2020-01-31 14:35] ruslanmogilevskiy commented on #66
Seems the BB API changes (lot of modules became unavailable for external usage) is the reason and your pluging doesn't work with BB 6.*+
https://developer.atlassian.com/server/bitbucket/reference/api-changelog/#expected-future-changes

[2020-06-19 08:31] moganarangan commented on #66
[code]

The above error occurs while opening BB page.
AMD module `bitbucket/internal/bbui/pull-request-list-table/pull-request-list-table` is blocked by BB.
need find alternate public API for these issues.

[2020-08-25 10:25] wide0s commented on #66
It does not work with BB 7.4.1 as well

[2020-10-03 19:10] mesolido opened #68 "[Exploitable Vulnerabilities Found in Your Chrome Extension Bitbucket Server Extension]"
Dear extension developer,

We are scientific researchers at CISPA in Germany. We are contacting you to disclose the results of a study we have performed on browser extensions.

We found that your browser extension Bitbucket Server Extension [https://chrome.google.com/webstore/detail/bitbucket-server-extensio/hlagecmhpppmpfdifmigdglnhcpnohib] presents the following vulnerability.

Your extension  a

[2020-10-03 19:11] mesolido opened #69 "[Exploitable Vulnerabilities Found in Your Chrome Extension Stash Extension]"
Dear extension developer,

We are scientific researchers at CISPA in Germany. We are contacting you to disclose the results of a study we have performed on browser extensions.

We found that your Chrome extension Stash Extension [ https://chrome.google.com/webstore/detail/stash-extension/kpgdinlfgnkbfkmffilkgmeahphehegk ] presents the following vulnerability.

Your extension  allows any webpage to

[2020-10-04 09:23] #68 closed

[2020-10-04 09:24] #69 closed

[2020-10-04 15:14] mesolido commented on #68
@dragouf do you mind saying a few words about this. If you want I can also share my private email address for that

[2020-10-04 15:15] mesolido commented on #69
@dragouf do you mind saying a few words about this. If you want I can also share my private email address for that

[2020-10-06 07:54] dragouf commented on #69
Sorry @mesolido, I don't maintain anymore this code. I'm not surprised about that since I had to remove URL restriction from manifest and I had no alternative at this time. People who want to secure the extension can clone the code and had URL constraints in the manifest. If you have a solution yo fix it quickly I let you do a PR.
About the ticket, I closed it to avoid exposing too much what you w

[2020-10-06 10:54] mesolido commented on #69
@dragouf sure I understand.
I am willing to help fix the issue. Unfortunately I do not understand what the extension is doing. But from what I have read, it seems that you want the extension to interact with pages such as bitbucket.org, atlassian.com and self-hosted bitbucket servers. If this is right, you could reduce by default the origins to bitbucket and atlassian, and additionally offer a set

[2020-10-06 13:45] dragouf commented on #69
Yes, so originally it was done in the manifest file, but when I decided to share it I removed it and didn't add a setting page to let the user set it by himself.
anyway, thanks for the information and your help. If you have time for the PR it is welcome, if not I will see what I can do when I have time.

[2020-10-12 15:49] mesolido commented on #69
@dragouf I have created a fork and a pull request where I does exactly what we were discussing.

[2020-10-14 22:32] dragouf commented on #69
@mesolido thanks a lot for your work. I will merge it and deploy it on the store as soon as I can

[2020-10-15 14:40] alex-borkun commented on #65
@ra100 @zzzep  Folks,
if you need just to replace the list of reviewers - I've written a JS script for BitBucket 6.7 and can publish it.
It is run with the help of ViolentMonkey on chosen domain and creates a link "REVIEWERS" that replaces the list.

[2020-10-15 14:41] alex-borkun commented on #66
@ruslanmogilevskiy @moganarangan @wide0s Hi Folks,
maybe my workaround may help you.
Details are here: [https://github.com/dragouf/Stash-Reviewers-Chrome-Extension/issues/65#issuecomment-709371570](https://github.com/dragouf/Stash-Reviewers-Chrome-Extension/issues/65#issuecomment-709371570)

[2020-10-15 18:25] ra100 commented on #65
The gist script looks similar to this:
https://github.com/dragouf/Stash-Reviewers-Chrome-Extension/blob/master/extension/chrome/src/js/stash_page.js#L357-L414
What is the main difference?
I guess the issue, metioned above, is problem with PR list. Maybe just disabling the list would solve the issue.

[2020-10-17 15:21] alex-borkun commented on #65
@ra100 yes, code works.
Did not expect that bitbucket has jquery.
I've reverse-engineered the API requests as I made a wrong conclusion based on GitHub issues that API has changed ;)

My BB throws an url containing the issue description:
`Uncaught Error: AMD module bitbucket-plugin/pullrequest-list-modifier must not depend on internal module(s) bitbucket/internal/feature/pull-request/pull-request-

[2020-10-29 19:37] j0be opened #71 "Clicking the extension icon no longer navigates to bitbucket"
Prior to the latest release, clicking the icon would navigate to the bitbucket site you have locally. Mine is pointed to a internally hosted bitbucket server.

Clicking the icon now shows this:

![Screen Shot 2020-10-29 at 15 37 01 ](https://user-images.githubusercontent.com/5649072/97623846-9e1bb100-19fc-11eb-8015-7bb090d3df2c.png)

Modifying this does nothing and will not save anything entered.

[2020-10-30 12:13] Zykalus commented on #71
Same issue here. My hosted bitbucket server does not match the pattern given.

[2020-10-30 13:01] premont commented on #71
same issue here
reinstalling did not change anything
type the a pattern that should work
*://bitbucket:7990/*
and pressing save just brings back the same original pattern displayed

[2020-10-30 14:17] ra100 commented on #71
So it seems, that value is stored, but is not loaded/prefilled in the field.

[2020-11-02 20:26] j0be commented on #71
I found why it's no longer launching.

Here is the original code to handle the icon click:
![Screen Shot 2020-11-02 at 15 23 06 ](https://user-images.githubusercontent.com/5649072/97915458-835c7b80-1d1f-11eb-8293-15ff2e8df4a9.png)

Here is the documentation from Google regarding `chrome.browserAction.onClicked`:
![Screen Shot 2020-11-02 at 15 22 14 ](https://user-images.githubusercontent.com/56490

[2020-11-02 20:38] j0be commented on #71
I've created a pull request to fix this:
https://github.com/dragouf/Stash-Reviewers-Chrome-Extension/pull/72

[2020-11-05 18:33] j0be commented on #71
@Zykalus. @premont, @BaconGirl, @jiemi

Feel free to update and test my fix to see if this fixes your issue.

@ra100 / @premont, I'm pretty sure this issue can be closed as long as no one raises any concerns now the update is live

[2020-11-05 18:43] guy-premont-cml commented on #71
Yes it works perfectly now. Thanks!

[2020-11-06 12:12] #71 closed

[2020-11-06 13:31] JoernBerkefeld opened #73 "PR template buttons not showing up in on premise version"
![image](https://user-images.githubusercontent.com/1917227/98371604-b9aa3b80-203c-11eb-8200-70081b186574.png)

[2020-11-06 15:07] guy-premont-cml commented on #57
I never had the issue with version 2.2.16, but when upgrading to 2.2.17 the issue appeared.

When going to the see the pull request list for a repo
 http://bitbucket:7990/projects/VP/repos/vortextoolkit/pull-requests
The list briefly appear.... and then disappear. I am not sure it is the same issue as this one,

![image](https://user-images.githubusercontent.com/32677429/98381457-e861eb00-2017-11e

[2020-11-10 08:24] BaconGirl commented on #71
Edit: I reinstalled the extension and I couldnt get it to work until I navigated to the dashboard url and then it started working by itself 😮

[2020-11-10 10:32] kirill-ianchuk opened #74 "Pull requests are not displayed on pull-requests page"
I have one pull-request in the repository, but during pull-requests page render it first shows up and in the end disappears.
![image](https://user-images.githubusercontent.com/72520559/98662534-fc2f8900-2358-11eb-861c-5fee233a5915.png)

I'm using the latest extension version. If I disable the extension, the pull-request is properly displayed.

[2020-11-10 11:14] ra100 commented on #74
Until the issue is fixed, you can disable PR filter in extension settings.

On Tue 10. 11. 2020 at 11:32, kirill-ianchuk <notifications@github.com>
wrote:

--
Rastislav Švarba

[2020-11-10 18:29] j0be commented on #71
@BaconGirl, yeah. The extension stores a setting called `currentStashBaseUrl`, which is the last stash url you visited that matched your host filters. I'm not sure why that would get unset through normal activity. But on a new install, that wouldn't be set so it will need to have you browse to the stash url that matches your host filter before this fix works for it.

[2020-11-25 20:05] lpintodesa opened #75 "Add Reviewers Group Button no longer appearing after upgrade to Bitbucket Server 7.6.0"
The title pretty much sums it up. My company just bumped up the Bitbucket Server version to 7.6.0 and now the Add Reviewers Group dropdown no longer appears in the Create Pull Request page.

[2020-12-01 23:05] mjlitz commented on #75
We're seeing the same issue. Curious if there's any development work going on with this yet.

[2020-12-08 17:07] zeratul021 commented on #75
@dragouf are you still working on the project and have time to look at this?

[2020-12-16 07:28] dragouf commented on #75
Sorry @zeratul021, as I said I don’t have time to maintain it and I don’t use bitbucket any more. But if anyone do a PR with a fix I’ll take time to publish it.

[2022-10-02 06:20] #21 closed